<mat-card class="cardVacantes">
    <mat-table [dataSource]="vacantes" class="tableVacantes">
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaL">
            <th mat-header-cell *matHeaderCellDef> Fecha Limite </th>
            <td mat-cell *matCellDef="let element"> {{element.Fecha_Limite}} </td>
        </ng-container>
        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>
        <ng-container matColumnDef="lugar">
            <th mat-header-cell *matHeaderCellDef> Lugar </th>
            <td mat-cell *matCellDef="let element"> {{element.ciudads}} </td>
        </ng-container>
        <ng-container matColumnDef="activa">
            <th mat-header-cell *matHeaderCellDef> Activa </th>
            <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
        </ng-container>
        <ng-container matColumnDef="creada">
            <th mat-header-cell *matHeaderCellDef> Creada </th>
            <td mat-cell *matCellDef="let element"> {{element.Fecha_Creacion}} </td>
        </ng-container>
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-mini-fab color="primary"> <mat-icon>edit</mat-icon> </button> 
            </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button> 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</mat-card>
